
HOST Variables for device {{inventory_hostname}}:
-------------------------------------------------
{{ hostvars[ansible_hostname] | to_nice_json }}

=================================================

Global Environment Variables ("environment"):
-------------------------------------------------
{{ environment | to_nice_json }}

Global GROUP NAMES Variables ("group_names"):
-------------------------------------------------
{{ group_names | to_nice_json }}

Global GROUPS Variables ("groups"):
-------------------------------------------------
{{ groups | to_nice_json }}

Runtime Module Variables ("vars"):
-------------------------------------------------
{{ vars | to_nice_json }}

